In [1]:
!aws s3 sync s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/ quarter_data_v2_1

download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/_SUCCESS to quarter_data_v2_1/_SUCCESS
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00001-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00001-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00000-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00000-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00004-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00004-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00003-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00003-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00006-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00006-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00007-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00007-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00005-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00005-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet
download: s3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2_1/part-00002-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet to quarter_data_v2_1/part-00002-60ef13e6-081f-4a7c-af51-8191cba08296-c000.snappy.parquet

In [2]:
import pandas as pd
import numpy as np

path = 's3://adtech-ml-perf-ads-us-east-1-prod-v1/live_inventory_forecasting/data/sampling/watched_time_for_collapse/quarter_data_v2/'
basic = ['platform', 'device', 'language', 'city', 'state', 'age', 'gender']
df = pd.read_parquet('quarter_data_v2_1')
df

,cd,is_cricket,tournament,country,language,platform,city,state,nccs,device,gender,age,watch_time,reach
0,2021-10-20,False,wc2021,in,tamil,web,tiruchirappalli,tn,NCCS_A,other,m,30+,108102.769555,39
1,2021-10-19,True,wc2021,ca,hindi,ios,dorval,qc,other,other,other,other,15468.588711,6
2,2022-10-29,False,wc2022,in,korean,ios,chakpanchuria,wb,NCCS_C_D,25K+,m,other,3881.162992,1
3,2021-10-19,False,wc2021,in,tamil,android,gadala,ap,other,other,f,other,7.000000,1
4,2021-11-10,False,wc2021,in,english,android,azara,as,NCCS_B,other,m,30+,2235.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13813486,2022-03-31,True,ipl2022,in,hindi,mweb,kottakkal,kl,other,other,other,other,78.530001,1
13813487,2022-10-26,False,wc2022,in,hindi,web,solan,hp,other,other,other,other,4.930000,1
13813488,2022-10-27,True,wc2022,in,english,android,mawana,up,NCCS_A,other,m,30+,5285.000000,3
13813489,2022-03-31,True,ipl2022,in,hindi,android,arsapur,ka,NCCS_A,other,m,30+,43604.000000,12
13813490,2022-11-10,True,wc2022,in,followon,android,malda,wb,NCCS_A,other,m,30+,215.000000,1

In [3]:
translation = {
    'city': {
        'mumbai':'mumbai',
        'delhi':'delhi',
        'bangalore':'bangalore',
        'hyderabad':'hyderabad',
        'ahmedabad':'ahmedabad',
        'chennai':'chennai',
        'kolkata':'kolkata',
        'surat':'surat',
        'pune':'pune',
        'jaipur':'jaipur',
        'lucknow':'lucknow',
        'kanpur':'kanpur',
        'nagpur':'nagpur',
        'indore':'indore',
        'bhopal':'bhopal',
        'visakhapatnam':'visakhapatnam',
        'patna':'patna',
        'vadodara':'vadodara',
        'ludhiana':'ludhiana',
        'agra':'agra',
        'nashik':'nashik',
        'varanasi':'varanasi',
        'dhanbad':'dhanbad',
        'amritsar':'amritsar',
        'allahabad':'allahabad',
        'ranchi':'ranchi',
        'gwalior':'gwalior',
        'coimbatore':'coimbatore',
        'vijayawada':'vijayawada',
        'jodhpur':'jodhpur',
        'madurai':'madurai',
        'raipur':'raipur',
        'kochi':'kochi',
        'chandigarh':'chandigarh',
        'guwahati':'guwahati',
        'other': 'other',
    },
    'platform': {
        'android': 'mobile',
        'ios': 'mobile',
        'other': None,
    },
    'language': {
        'english': 'english',
        'hindi': 'hindi',
        'other': None,
    },
    'gender': {
        'm': 'male',
        'other': 'female',
    },
    'state': {
        'up': 'Uttar Pradesh + Uttarakhand',
        'ut': 'Uttar Pradesh + Uttarakhand',
        'mh': 'Maharashtra',
        'br': 'Bihar + Jharkhand',
        'jh': 'Bihar + Jharkhand',
        'wb': 'West Bengal',
        'ct': 'Chattisgarh',
        'tn': 'Tamil Nadu + Pondicherry',
        'ka': 'Karnataka',
        'gj': 'Gujarat + Goa',
        'ap': 'Andhra Pradesh + Telangana',
        'tg': 'Andhra Pradesh + Telangana',
        'or': 'Odisha',
        'kl': 'Kerala',
        'pb': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'hr': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'hp': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'jk': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'ar': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'as': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'mn': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'ml': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'mz': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'nl': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'sk': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'tr': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'rj': 'Rajasthan',
        'mp': 'Madhya Pradesh',
        'other': 'other',
    },
}
possible_geo = set([
    ('mumbai','Maharashtra'),
    ('delhi','Uttar Pradesh + Uttarakhand'),
    ('delhi','Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir'),
    ('delhi','other'), # last one would be in dict
    ('bangalore','Karnataka'),
    ('hyderabad','Andhra Pradesh + Telangana'),
    ('calcutta','West Bengal'),
    ('kolkata','West Bengal'),
    ('chennai','Tamil Nadu + Pondicherry'),
    ('ahmedabad','Gujarat + Goa'),
    ('surat','Gujarat + Goa'),
    ('pune','Maharashtra'),
    ('jaipur','Rajasthan'),
    ('lucknow','Uttar Pradesh + Uttarakhand'),
    ('kanpur','Uttar Pradesh + Uttarakhand'),
    ('nagpur','Maharashtra'),
    ('indore','Madhya Pradesh'),
    ('bhopal','Madhya Pradesh'),
    ('visakhapatnam','Gujarat + Goa'),
    ('patna','Bihar + Jharkhand'),
    ('vadodara','Gujarat + Goa'),
    ('ludhiana','Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir'),
    ('agra','Uttar Pradesh + Uttarakhand'),
    ('nashik','Maharashtra'),
    ('varanasi','Uttar Pradesh + Uttarakhand'),
    ('dhanbad','Bihar + Jharkhand'),
    ('amritsar','Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir'),
    ('allahabad','Uttar Pradesh + Uttarakhand'),
    ('ranchi','Bihar + Jharkhand'),
    ('gwalior','Madhya Pradesh'),
    ('coimbatore','Tamil Nadu + Pondicherry'),
    ('vijayawada','Andhra Pradesh + Telangana'),
    ('jodhpur','Rajasthan'),
    ('madurai','Tamil Nadu + Pondicherry'),
    ('raipur','Chattisgarh'),
    ('kochi','Kerala'),
    ('chandigarh','Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir'),
    ('guwahati','Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura'),
    ('other','Uttar Pradesh + Uttarakhand'),
    ('other','Maharashtra'),
    ('other','Bihar + Jharkhand'),
    ('other','West Bengal'),
    ('other','Chattisgarh'),
    ('other','Tamil Nadu + Pondicherry'),
    ('other','Karnataka'),
    ('other','Gujarat + Goa'),
    ('other','Andhra Pradesh + Telangana'),
    ('other','Odisha'),
    ('other','Kerala'),
    ('other','Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir'),
    ('other','Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura'),
    ('other','Rajasthan'),
    ('other','Madhya Pradesh'),
    ('other','other'),
])
most_possible = dict(possible_geo)

def fix_state(row):
    city, state = row
    if (city, state) in possible_geo:
        return state
    return most_possible.get(city, 'other')

def merge(df):
    df2 = df.copy()
    for col, mp in translation.items(): # except state
        df2[col] = df[col].map(lambda x: mp.get(x, mp['other']))
    df2 = df2.dropna() # remove invalid rows
    df2['state'] = df2[['city', 'state']].apply(fix_state, axis=1)
    return df2

df2 = merge(df)
df2

,cd,is_cricket,tournament,country,language,platform,city,state,nccs,device,gender,age,watch_time,reach
1,2021-10-19,True,wc2021,ca,hindi,mobile,other,other,other,other,female,other,15468.588711,6
4,2021-11-10,False,wc2021,in,english,mobile,other,Arunachal Pradesh + Assam +Manipur + Meghalaya...,NCCS_B,other,male,30+,2235.000000,2
5,2021-11-08,False,wc2021,in,hindi,mobile,other,Gujarat + Goa,NCCS_C_D,other,female,other,7472.000000,7
9,2022-10-29,True,wc2022,in,hindi,mobile,other,Haryana + Punjab + Himachal Pradesh + Jammu an...,NCCS_A,25K+,male,30+,70.369229,1
10,2021-10-23,True,wc2021,in,english,mobile,other,West Bengal,other,25K+,male,other,5458.624512,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13813481,2021-11-14,False,wc2021,in,hindi,mobile,other,Uttar Pradesh + Uttarakhand,NCCS_A,other,male,30+,41742.000000,14
13813483,2022-11-15,False,wc2022,in,hindi,mobile,other,Bihar + Jharkhand,NCCS_A,25K+,female,other,185.000000,1
13813484,2021-10-30,True,wc2021,in,english,mobile,other,Andhra Pradesh + Telangana,other,other,female,other,99.706340,1
13813488,2022-10-27,True,wc2022,in,english,mobile,other,Uttar Pradesh + Uttarakhand,NCCS_A,other,male,30+,5285.000000,3
13813489,2022-03-31,True,ipl2022,in,hindi,mobile,other,Karnataka,NCCS_A,other,male,30+,43604.000000,12

In [4]:
df3 = df2[(df2.cd.map(str) > '2022-01-01') & (df2.cd.map(str) < '2022-06-01') & df2.is_cricket].groupby(basic).sum().reset_index().sort_values('reach', ascending=False)
df3

,platform,device,language,city,state,age,gender,watch_time,reach
651,mobile,other,hindi,delhi,other,other,male,1.376896e+10,5424884
783,mobile,other,hindi,patna,Bihar + Jharkhand,other,male,1.272149e+10,4593905
707,mobile,other,hindi,mumbai,Maharashtra,other,male,1.036941e+10,4476562
695,mobile,other,hindi,lucknow,Uttar Pradesh + Uttarakhand,other,male,1.005456e+10,3889054
775,mobile,other,hindi,other,West Bengal,other,male,6.450424e+09,3102005
...,...,...,...,...,...,...,...,...,...
37,mobile,25K+,english,delhi,Uttar Pradesh + Uttarakhand,30+,male,7.773321e+01,2
457,mobile,other,english,gwalior,Madhya Pradesh,30+,female,2.948678e+02,1
656,mobile,other,hindi,guwahati,Arunachal Pradesh + Assam +Manipur + Meghalaya...,30+,female,9.543582e+02,1
253,mobile,25K+,hindi,gwalior,Madhya Pradesh,30+,female,1.181281e+01,1
458,mobile,other,english,gwalior,Madhya Pradesh,other,female,4.459479e+02,1

In [5]:
df3.to_csv('df3.csv', index=False)

In [6]:
(df3[['reach', 'watch_time']].sort_values('reach', ascending=False).cumsum() / [df3.reach.sum(), df3.watch_time.sum()]).quantile(
    np.concatenate((np.arange(0, 0.2, 0.05), np.arange(0.2, 1, 0.1)))
).reset_index().style.format({'index':'{:.0%}', 'reach': '{:.4%}', 'watch_time': '{:.4%}'}).hide_index()

In [7]:
df4 = pd.concat([
    df3.reach.cumsum().rename('accum%') / df3.reach.sum(),
    df3.drop(['watch_time', 'reach',], axis=1),
    (df3.reach / df3.reach.sum()).rename('reach%'),
    (df3.watch_time / df3.watch_time.sum()).rename('watch_time%'),
], axis=1)
df4.head(10).style.format({'reach%': '{:.2%}', 'watch_time%': '{:.2%}', 'accum%': '{:.2%}'}).hide_index()

In [ ]:
df4